@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111118;
  --foreground: #ffffff;
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111118;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gta-gradient{
  translate: none;
  rotate: none;
  scale: none;
  transform: translate3d(0px, 0px, 0px) scale(0.9864);
  background-image: radial-gradient(circle at 49.4561% 189.121vh, rgb(255, 208, 124) 0%, rgb(225, 59, 143) 17.9916%, rgb(96, 23, 99) 33.8075%, rgba(32, 31, 66, 0) 55.4393%);
  mask-image: radial-gradient(at 50% 0vh, rgb(0, 0, 0) 120vh, rgba(0, 0, 0, 0) 200vh);
  opacity: 1;
  visibility: inherit;
}

.gta-background-gradient{
  background-image: radial-gradient(circle at 50% 28.6351vh, rgb(255, 213, 131) 0vh, rgb(243, 74, 93) 49.9814vh, rgb(136, 39, 104) 89.9665vh, rgba(32, 31, 66, 0) 133.66vh);
  opacity: 0.9455;
}

.gta-border-gradient-rounded{
  border: 4px solid transparent;
  border-radius: 16px;
  background: 
    linear-gradient(to right, #111118, #111118), 
    linear-gradient(to right, #ffd687 0%, #d21a95 50%, #601969 100%); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.gta-text-clip{
  color: transparent;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-image: radial-gradient(circle at 50% -30vh,#ffd687 0,#fc5243 50vh,#9d2f6a 90vh,rgba(32,31,66,0) 150vh);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
